[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow = "*"
flask-oidc = "*"
africastalking = "*"
coverage = "*"
gunicorn = "*"
flask-swagger-ui = "*"
google-auth-oauthlib = "*"
cachecontrol = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
